/* Menghilangkan tombol Next dan Previous */
.pagination, .prev, .next {
    display: none !important;
}

/* Menghilangkan menu pencarian samping */
.wy-side-nav-search {
    display: none;
}

/* Menghilangkan navigasi samping */
.wy-nav-side {
    display: none;
}

/* Membuat konten utama lebar penuh */
.wy-nav-content {
    width: 100%;  /* Membuat konten utama lebar penuh */
}

/* Mengatur agar konten tidak terbatasi lebar maksimal */
.document {
    width: 100%;  /* Membuat konten utama menggunakan seluruh layar */
    max-width: 100%; /* Memastikan konten menggunakan seluruh layar */
}
